.App {
  text-align: center;
}

.game {
  display: flex;
  align-items: center;
  margin-top: 160px;
  flex-direction: column;
}

.game-board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  background-color: #000;
  border: 2px solid #fff;
  position: relative;
  color: #fff;
  font-size: 92px;
}
